.hero {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #FF6347;
  font-family: 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  shape-outside: circle();
}

p {
  font-size: 18px;
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}

.cta-btn {
  display: inline-block;
  background-color: #FF6347;
  color: #FFF;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  transition: all 0.3s ease-in-out;
}

.cta-btn:hover {
  background-color: #FFA500;
  color: #fff;
}

/* maps styles */
#maps {
  height: 100vh;
  background-color: #fff;
}

/* toilet styles */
#toilet-show {
  height: 100vh;
  background-color: #fff;
}

