.hero {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.cta-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 50px;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #fff;
  color: #333;
}

/* maps styles */
#maps {
  height: 100vh;
  background-color: #fff;
}

/* toilet styles */
#toilet-show {
  height: 100vh;
  background-color: #fff;
}

