.header {
  background-color: #ffa200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.top-logo {
  max-width: 200px;
  margin-left: 50px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.list-menu {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.list-menu:hover {
  color: #d7a825;
}