.container {
  background-color: #f5f5f5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 40px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.devise-login {
  font-size: 25px;
  color: #ffa200;
  text-align: center;
  margin-bottom: 20px;
}

.devise-signin {
  font-size: 25px;
  color: #ffa200;
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.form-text-sub{
  font-size: 15px;
  color: #ffa200;
}

.input-signup{
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #FFF3D3;
}

.input-sumbit {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #E9C46A;
  color: #ffa200;
  cursor: pointer;
  font-weight: bold;
}

.input-sumbit:hover {
  background-color: #F4A261;
  color: #FFFFFF;
}

.login-flash-message {
  text-align: center;
  color: red;
  font-size: 1.5vw;
}